# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Build at 00:00 on every 12th day-of-month.
  #schedule:
    #- cron: "0 0 */12 * *"
  # Triggers the workflow on push or pull request events but only for the test6 branch
  push:
    branches: [ test6 ]
    paths-ignore: [ '**/README.md' ]
  pull_request:
    branches: [ test6 ]
    paths-ignore: [ '**/README.md' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build-devel"
  build-devel:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Prerequisites
        run: |
          sudo apt update && sudo apt install libfuse2 zsync -y
          wget -q "https://github.com/AppImageCrafters/appimage-builder/releases/download/Continuous/appimage-builder-1.1.1.dev32+g2709a3b-x86_64.AppImage" -O appimage-builder ; chmod +x appimage-builder ; ./appimage-builder --appimage-extract &>/dev/null
          mkdir -p /usr/share/icons/hicolor/scalable/ ; cp wine.svg /usr/share/icons/hicolor/scalable/

          # devel
          echo "WINE_VER=devel_$(wget -qO- https://github.com/mmtrt/Wine-Builds/releases/expanded_assets/latest | grep -Eo '[0-9].*xz"' | sed -r 's|-amd64| |' | head -1 | awk '{print $1}')" >> $GITHUB_ENV

      # Runs a set of commands using the runners shell
      - name: Build appimage
        run: |
          # add custom mksquashfs
          cp runtime/mksquashfs squashfs-root/usr/bin/mksquashfs

          # force zstd format in appimagebuilder for appimages
          rm appimage-builder ; sed -i 's|xz|zstd|;s|AppImageKit|type2-runtime|' squashfs-root/usr/lib/python3.8/site-packages/appimagebuilder/modules/prime/appimage_primer.py

          squashfs-root/AppRun --skip-appimage --recipe wine-devel.yml

          export ARCH="$(uname -m)"
          UPINFO="gh-releases-zsync|$(echo "$GITHUB_REPOSITORY" | tr '/' '|')|old-v4-multi|*$ARCH.AppImage.zsync"
          VERSION=devel_$(wget -qO- https://github.com/mmtrt/Wine-Builds/releases/expanded_assets/latest | grep -Eo '[0-9].*xz"' | sed -r 's|-amd64| |' | head -1 | awk '{print $1}')
          URUNTIME="https://github.com/VHSgunzo/uruntime/releases/latest/download/uruntime-appimage-dwarfs-$ARCH"
          URUNTIME_LITE="https://github.com/VHSgunzo/uruntime/releases/latest/download/uruntime-appimage-dwarfs-lite-$ARCH"
          wget --retry-connrefused --tries=30 "$URUNTIME" -O ./uruntime
          wget --retry-connrefused --tries=30 "$URUNTIME_LITE" -O ./uruntime-lite
          chmod +x ./uruntime*
          ./uruntime-lite --appimage-addupdinfo "$UPINFO"
          ./uruntime --appimage-mkdwarfs -f --set-owner 0 --set-group 0 --no-history --no-create-timestamp --compression zstd:level=22 -S26 -B8 --header uruntime-lite -i AppDir -o ./wine-"$VERSION"-"$ARCH".AppImage
          zsyncmake *.AppImage -u *.AppImage

      - name: release
        uses: marvinpinto/action-automatic-releases@6273874b61ebc8c71f1a61b2d98e234cf389b303
        with:
          title: test build wine v9.x.x
          automatic_release_tag: test6
          prerelease: false
          draft: false
          files: /home/runner/work/WINE_AppImage/WINE_AppImage/*.AppImage*
          repo_token: ${{ secrets.GITHUB_TOKEN }}
