# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Build at 00:00 on every 12th day-of-month.
  #schedule:
    #- cron: "0 0 */12 * *"
  # Triggers the workflow on push or pull request events but only for the test6 branch
  push:
    branches: [ test7 ]
    paths-ignore: [ '**/README.md' ]
  pull_request:
    branches: [ test7 ]
    paths-ignore: [ '**/README.md' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build-stable"
  build-stable:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: ghcr.io/pkgforge-dev/archlinux:latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          chmod +x ./get-dependencies.sh && ./get-dependencies.sh

      # Runs a set of commands using the runners shell
      - name: Build appimage
        run: |
          chmod +x ./deploy.sh && ./deploy.sh
          echo $PWD
          echo $CWD
          ls -al
          ls -al ../

      - name: release
        uses: marvinpinto/action-automatic-releases@6273874b61ebc8c71f1a61b2d98e234cf389b303
        with:
          title: test build wine v10.x.x
          automatic_release_tag: test7
          prerelease: false
          draft: false
          files: /home/runner/work/WINE_AppImage/*.AppImage*
          repo_token: ${{ secrets.GITHUB_TOKEN }}
